<div class="container-fluid"
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
            <div class="text-center m-b-md custom-login breadcomb-ctn">
                <h2>Registration</h2>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form action="/register" method="POST" id="loginForm">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Username</label>
                                <input class="form-control" name="Username" required>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Mật khẩu</label>
                                <input type="password" class="form-control" name="Password" required>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" name="RepeatPassword" required>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Tên</label>
                                <input class="form-control" name="Name">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Giới tính</label>
                                <select name="Gender" class="form-control" id="">
                                    <option value="Male" selected>Nam</option>
                                    <option value="Female">Nữ</option>
                                    <option value="Other">Khác</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Ngày sinh</label>
                                <input type="date" class="form-control" width="276" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Địa chỉ</label>
                                <input class="form-control" name="Address">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Email</label>
                                <input class="form-control" name="Email">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Số điện thoại</label>
                                <input class="form-control" name="Phone">
                            </div>
                            
                            <p>{{sMessage}}</p>
                            
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success loginbtn">Đăng ký</button>
                            <button class="btn btn-default">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
    </div>
</div>