<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>Karma- Không làm đôi chân bạn thất vọng!</h1>
									<p>Shop giày online Karma đã khẳng định được sự chuyên nghiệp của mình trong công việc. 
									Giày tại Karma được cập nhật mới liên tục, mỗi mẫu đều có số lượng hàng đầy đủ để cung ứng cho khách hàng bán buôn và bán lẻ.</p>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="/img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Sản phẩm chất lượng, mẫu mã đẹp <br></h1>
									<p>Chúng tôi luôn cập nhật tất cả các mẫu mới nhất tại thị trường và chất lượng nhất với người sử dụng</p>
								
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="/img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>