<div class="my-task border">
    <div class="breadcomb-ctn">
        <h2>Công việc của tôi</h2>
    </div>
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Cras justo odio
                <button data-toggle="modal" data-placement="left" title="To Do"
                    class="btn badge badge-primary badge-pill" data-target="#myModal">To Do</button>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Dapibus ac facilisis in
                <button data-toggle="modal" data-placement="left" title="To Do"
                    class="btn badge badge-primary badge-pill" data-target="#myModal">To Do</button>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                <button data-toggle="modal" data-placement="left" title="To Do"
                    class="btn badge badge-primary badge-pill" data-target="#myModal">To Do</button>
            </li>
        </ul>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="calender-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="calender-inner">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>