<!-- Mobile Menu end -->
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Sản phẩm</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Mobile Menu end -->
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Products List</h4>
                    <div class="add-product">
                        <a href="/add-product">Add Product</a>
                    </div>
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>Product Title</th>
                            <th>Status</th>
                            <th>Purchases</th>
                            <th>Product sales</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Setting</th>
                            <th hidden>Id</th>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/6-small.jpg" alt="" /></td>
                            <td> Product Title 2</td>
                            <td>
                                <button class="ps-setting" data-toggle="modal" title="Trash"
                                    data-target="#statusModel">Paused</button>
                                <!-- Modal -->
                                <div class="modal fade" id="statusModel" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document"
                                        style="color: black;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                            </div>
                                            <div class="text-dark modal-body">
                                                <form method="POST" action="/product-list">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <input class="pd-setting btn-lg" type="submit" value="Active" style="width: 100%;">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input class="ps-setting" type="submit" value="Paused" style="width: 100%;">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input class="ds-setting" type="submit" value="Disabled" style="width: 100%;">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>60</td>
                            <td>$1020</td>
                            <td>In Stock</td>
                            <td>$17</td>
                            <td>
                                
                                <a href="/edit-product"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o"
                                            aria-hidden="true"></i></button></a>
                                <button data-toggle="modal" title="Trash" class="pd-setting-ed"
                                    data-target="#exampleModalCenter"><i class="fa fa-trash-o"
                                        aria-hidden="true"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document"
                                        style="color: black;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                                            </div>
                                            <div class="text-dark modal-body">
                                                <p>Bạn có chắc chắn muốn xóa sản phẩm không?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary">Yes</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form action="/product-detail">
                                    <button class="btn btn-default" type="submit">Xem chi tiết</button>
                                </form>
                            </td>
                            <th hidden>Id</th>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/7-small.jpg" alt="" /></td>
                            <td>Product Title 3</td>
                            <td>
                                <button class="ds-setting">Disabled</button>
                            </td>
                            <td>70</td>
                            <td>$1050</td>
                            <td>Low Stock</td>
                            <td>$15</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/5-small.jpg" alt="" /></td>
                            <td>Product Title 4</td>
                            <td>
                                <button class="pd-setting">Active</button>
                            </td>
                            <td>120</td>
                            <td>$1440</td>
                            <td>In Stock</td>
                            <td>$12</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/6-small.jpg" alt="" /></td>
                            <td>Product Title 5</td>
                            <td>
                                <button class="pd-setting">Active</button>
                            </td>
                            <td>30</td>
                            <td>$540</td>
                            <td>Out Of Stock</td>
                            <td>$18</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/new-product/7-small.jpg" alt="" /></td>
                            <td>Product Title 6</td>
                            <td>
                                <button class="ps-setting">Paused</button>
                            </td>
                            <td>400</td>
                            <td>$4000</td>
                            <td>In Stock</td>
                            <td>$10</td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>